<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">
    <section style="width: 60%; margin-left: 10em">
        <form th:object="${questionnaire}">
            <fieldset disabled>
                <div class="form-group row">
                    <label class="col-md-2" for="title">Title:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" th:field="*{title}" th:errorclass="fieldError" autofocus="true" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2" for="description">Description:</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" th:field="*{description}" th:errorclass="fieldError" />
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <a class="btn btn-default" th:href="@{/questionnaires}">Close</a>
            </div>
        </form>
    </section>
</html>